body{
    background-image: url("./images/background.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    margin: 0;
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.startPage{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.485);
    border: 5px solid black;
    width: 800px;
    height: 500px;
    padding: 0px;
}
.titleStartPage{
    margin-top: 0px;
    font-size: 60px;
}
.players{
    display: flex;
    gap: 50px;
}
.player{
    display: flex;
    gap: 20px;
    flex-direction: column;
}
#player2{
    display: flex;
}
#AI{
    display: none;
}
.imgPlayer{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
.playerName{
    border-radius: 30px;
    border: 2px solid black;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.44);
    text-align: center;
    width: 200px;
    color: white;
    margin: auto;
    text-shadow: 0 0 3px black;
    font-family: "Orbitron", sans-serif;
}
#aiName{
    height: 25px;
    padding-top: 5px;
    font-weight: 600;
}
.playerName::placeholder{
    text-align: center;
    color: white;
    font-weight: bold;
    text-shadow: 0 0 3px black;
    font-family: "Orbitron", sans-serif;
}
.btnStart{
    margin-top: 20px;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.008);
    border: none;
    font-family: "Sigmar One", sans-serif;
    font-size: 30px;
}
.vs{
    border: none;
    font-size: 40px;
    margin: 0;
    background-color: transparent;
    font-family: "Orbitron", sans-serif;
}
button:hover{
    cursor: pointer;
}

/** Main Page **/

.mainPage{
    display: none;
    flex-direction: column;
    align-items: center;
}
.cell{
    border: 2px solid black;
    background-color: rgba(0, 128, 255, 0.655);
    width: 34px;
    height: 34px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    gap: 2px;
}
.mainPlayers{
    display: flex;
    gap: 50px;
    margin-top: 0px;
}
.player1, .player2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-family: "Orbitron", sans-serif;
}
.ready{
    display: block;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.008);
    border: none;
    font-family: "Sigmar One", sans-serif;
    font-size: 30px;
    text-shadow: 0 0 3px white;
}
.shipList, .direction{
    font-family: "Sigmar One", sans-serif;
    background-color: transparent;
    border: none;
    margin-bottom: 0px;
    font-size: 20px;
}
.invalid{
    background-color: rgb(213, 104, 104);
}

.ship, .ship1{
    background-color: rgba(156, 211, 156, 0.985);
}

.hidden, .hidden1{
    background-color: rgba(0, 128, 255, 0.655);
}

.hit{
    background-color: rgb(195, 102, 102);
}

.sunk{
    background-color: rgb(0, 55, 110);
}

.miss{
    background-color: rgba(255, 255, 255, 0.597);
}

/** Winner Page **/

.winnerPage{
    margin-top: 250px;
    padding-top: 20px;
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 600px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.826);
    border: 5px solid black;
}

.winnerName{
    font-size: 40px;
    margin-top: 0px;
}